---
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Log In</title>
		{% include content/resources.html %}		
		<link rel="stylesheet" href="css/forms.css">	
	</head>
	
	<body>
		{% include nav/nav.html %}
		<section class="userform">
			<h1>Welcome back!</h1>
			
			<form id="login" name="login" method="POST" action="<?php echo htmlspecialchars($_SERVER["PHP_SELF"]);?>">
				
				<label for="email">Email: <br /></label>
				<input type="text" name="email" id="email" placeholder="Email">
				
				<label for="password">Password: <br /></label>
				<input type="password" name="password" id="password" placeholder="Password">
				
				<button type="submit" class="button" title="Log in">Log in</button>
				
				<input type="hidden" name="login" value="login">
			</form>
			
			<p><a href="register.html" title="Sign up">New to FitBox? Sign up here.</a></p>
			
			<p>{% include forms/forms_login.php %}</p>		
		</section>		
		{% include footer/footer.html %}
		<script src="js/background.js" type="text/javascript"></script>
	</body>
</html>