---
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Why FitBox?</title>		
		{% include content/resources.html %}
		<link rel="stylesheet" href="css/header.css">
		<link rel="stylesheet" href="css/intro.css">
		<link rel="stylesheet" href="css/why_fitbox.css">
	</head>
	
	<body>
		{% include nav/nav.html %}
		<header class="header header_short">
			<h1>Why FitBox?</h1>
			<p>Three reasons to choose FitBox.</p>
		</header>
		
		{% include content/why_fitbox.html %}
		{% include content/get_fitbox.html %}
		
		{% include footer/footer.html %}
		<script src="js/header.js" type="text/javascript"></script>
	</body>
</html>