<section class="container_showcase">
	<div class="content content1">
		<div class="content_img1"></div>
		<h4>Order FitBox</h4>
		<p>Become a member for just &euro;40 and receive a curated box filled with a mix of premium and niche surprises bi-monthly.</p>
	</div>
	<div class="content content2">
		<div class="content_img2"></div>
		<h4>Sit tight</h4>
		<p>Sit tight and wait for your FitBox to indulge in our picks of the finest products in fitness, wellness, and nutrition. </p>
	</div>
	<div class="content content3">
		<div class="content_img3"></div>
		<h4>Indulge</h4>
		<p>Discover new favorites and reward yourself with discounts by repurchasing them from us. Don't forget to share your finds with #FitBox.</p>
	</div>
</section>

<section class="container_separator">
	<button class="button">
		<a href="purchase.html" title="Get FitBox">Get FitBox today</a>
	</button>
</section>

<section class="container_showcase">
	<div class="content content4">
		<h3>What you'll receive</h3>
		<ul class="unorderedList">
			<li><strong>Fitness finds</strong>, including Athleisure and workout gear</li>
			<li><strong>Wellness products</strong>, such as interesting reads to feed the mind</li>
			<li><strong>Nutritious picks</strong>, that supplement your fitness journey</li>
			<li><strong>Interesting recipes</strong>, customized by our in-house nutritionist</li>
		</ul>
		
		<p>For sneak peaks of our boxes, <a href="sneakpeak.html" title="Sneak Peak">click here</a>.</p>
	</div>
</section>