<section class="container slideshowWidth">
	<ul class="rslides">
	  <li><img src="media/sneakpeak/equipment.jpg" alt="Sports equipment, shoes, dumbells" title="Sports equipment, shoes, dumbells"></li>
	  <li><img src="media/sneakpeak/yoga_mat.jpg" alt="Yoga mat" title="Yoga mat"></li>
	  <li><img src="media/sneakpeak/clothes.jpg" alt="Workout clothing" title="Workoout clothing"></li>
	  <li><img src="media/sneakpeak/bottle.jpg" alt="Water bottle" title="Water bottle"></li>
	</ul>
</section>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="slideshow/responsiveslides.min.js"></script>

<script>
  $(function() {
    $(".rslides").responsiveSlides();
  });
</script>