.userform {
	width: 60%;
	padding: 0.2% 1%;
	margin: 10% auto;
	box-sizing: border-box;
	background-color: white;
	box-shadow: 0 0 5px lightgray;
}

.userform input, .userform select, .userform textarea {
	width: 100%;
	padding: 2%;
	margin: 2% auto;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.userform p {
	font-size: 80%;
}

.userform textarea {
	height: auto;
	resize: vertical;
}

.userform button {	
	background: #444;
	font-size: 110%;
	padding: 2.5% 10%;
	width: 100%;
	border: none;
	outline: none;
	transition: background 0.2s;
}

.userform button:hover {
	background: #222;
	cursor: pointer;
	transition: background 0.2s;
}

@media only screen and (max-width: 600px) {
	.userform {
		width: 100%;
	}
	
	.row {
		flex-direction: column;
	}
	
	.col25, .col50, .col100 {
		margin-bottom: 2%;
	}
	
	.userform input, .userform select, .userform textarea {
		margin-bottom: 2%;
	}
	
	.formBorder {	
		width: 100%;
		padding-bottom: 2%;
		overflow: auto;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.col25 {
	flex: 25%;
}

.col50 {
	flex: 50%;
}

.col100 {
	flex: 100%;
}

.col25, .col50, .col100 {
	padding: 0.2% 0.5%;
	margin: 0.2% 0%;
}

.formBorder {
	border: 1px solid gray;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 0.5%;
	vertical-align: center;
	overflow: hidden;
	box-sizing: border-box;
}
